* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html, body {
    background-color: rgba(6,38,255);
    width: 100%;
    height: 100%;
    color: white;
    font-family: Arial, sans-serif;

 }
 .text1 {
    text-align: right;
    font-size: 20px;


 }
 .spacer {
    height: 8000px;
 }
 
.video-poster {
    width: 100%;
    display: block;
}
 .video {

    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 0;
    width: 40vw;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
 }
