* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   background-color: black;
   width: 100%;
   height: 100%;
}

.spacer {
   height: 10000px;
}

.video {
   position: fixed;
   top: 50%;
   left: 50%;
   bottom: 0;
   width: 40vw;
   transform: translateX(-50%) translateY(-50%);
   z-index: 1;
}
